<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thimeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Pagina Spring Boot</title>
</head>
<body>
    <h1>Detalles de la información</h1>
    <ul>
        <li><strong>Nombre:</strong> <span th:text="${empleado.nombre}"></span></li>
        <li><strong>Apellido:</strong> <span th:text="${empleado.apellido}"></span></li>
        <li>    
            <strong>Dirección:</strong> 
            <span th:text="${empleado.direccion != null ? empleado.direccion : 'No tiene direccion'}"></span>
        </li>
        <li><strong>Puesto:</strong> <span th:text="${empleado.puesto}"></span></li>
        <li><strong>edad:</strong> <span th:text="${empleado.edad}"></span></li>
        <li><strong>Telefono:</strong> <span th:text="${empleado.telefono}"></span></li>
        <li><strong>Id:</strong> <span th:text="${empleado.id}"></span></li>
    </ul>

    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cargo</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp : ${empleados}">  <!-- 🔹 Recorre cada empleado en la lista -->
                <td th:text="${emp.nombre}"></td>
                <td th:text="${emp.apellido}"></td>
                <td th:text="${emp.puesto}"></td>
                <td th:text="${emp.edad}"></td>
            </tr>
        </tbody>
    </table>


</body>
</html>